.main {
    display: grid;
    grid-template-rows: 65px 80px;
    background-color: #00396F;
    grid-auto-columns: 570px 570px;
    height: 300px;
    width: 100%;
    color: #FFFFFF;
    align-content: center;
    column-gap: 30px;
    justify-content: center;
}
.form_container {
    display: flex;
    gap: 20px;
    color: #151515;
    grid-row: 1/3;
    grid-column: 2/3;
    margin: auto;
}
.input {
    background-color: #F0F2F1;
    width: 220px;
    height: 40px;
}
.button {
    background-color: #D9D9D9;
    width: 115px;
    height: 40px;
    margin: auto;
}
.title {
    font-size: 20px;
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
}
.text {
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: center;
}

@media screen and (max-width: 420px) {
    .main {
        height: 400px;
        grid-template-rows: 50px 200px 100px;
        background-color: #00396F;
        grid-auto-columns: 90%;
    }
    .form_container {
        flex-direction: column;
        grid-row: 2/3;
        grid-column: 1/2;
        width: 80%;
        gap: 30px;
    }
    .input {
        background-color: #F0F2F1;
        width: 90%;
        height: 35px;
        margin: auto;
    }
    .title {
        font-size: 18px;
    }
    .text {
        grid-row: 3/4;
    }
}