.content_container {
    width: 100%;
    height: 300px;
    background-color: #00396F;
    color: #FFFFFF;
    font-size: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}
.text {
    margin: 0 auto 0 auto;
    width: 70%;
    text-align: center;
    white-space: pre-line;
}

@media screen and (max-width: 420px) {
    .content_container {
        height: 400px;
        font-size: 16px;
    }
    .text {
        width: 90%;
    }
}