.main {
    width: 100%;
    height: 90px;
    background-color: #00396F;
    text-transform: uppercase;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}
.initials {
    font-size: 48px;
    font-weight: 400;
    margin-right: 50px;
}

.title {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}
.title:hover {
    opacity: 0.6;
}
.title_container {
    display: flex;
    gap: 20px;
    height: 90px;
    border-right: 3px solid #FFFFFF;
    align-items: center;
    padding-right: 20px;
}
.contacts_container {
    display: flex;
    gap: 10px;
}
.link_container {
    display: flex;
    gap: 30px;
    margin-left: 20px;
}
.link{
    width: 50px;
    height: 50px;
}
.link:hover{
    opacity: 0.6;
}
.img {
    width: 100%;
    height: 100%;
}
